<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post Uploading</title>
</head>

<body>
  <h1>Upload Post</h1>
  <hr>
  <div>
    <form action="/" method="POST" enctype="multipart/form-data">
      <div>
        <label for="name">Post Title</label>
        <input type="text" id="name" placeholder="Name" value="" name="name" required>
      </div>
      <!-- <div>
        <label for="desc">Image Description</label>
        <textarea id="desc" name="desc" value="" rows="2" placeholder="Description" required>
				</textarea>
      </div> -->
      <div>
        <label for="image">Upload Image</label>
        <input type="file" id="image" name="image" value="" required>
      </div>
      <div>
        <button type="submit">Upload</button>
      </div>
    </form>
  </div>

  <hr>

  <h1>Uploaded Post</h1>
  <div>
    <% const result=items.sort((a, b)=> b.created - a.created) %>
      <% result.forEach(function(image) { %>

        <div>
          <div>

            <div>
              <h5>
                Post Title: <%= image.title %>
              </h5>



              <!-- <p>
              <%= image.desc %>
            </p> -->



            </div>
            <br>

            <img src="data:image/<%=image.img.contentType%>;base64,
					<%=image.img.data.toString('base64')%>">
            <br>
          </div>
        </div>
        <% }) %>
  </div>
</body>

</html>